*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ADB5;
   
}
.center{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 24px;
   background-color: rgb(255, 255, 255);
}
.box{
   /* background-color: rgba(240, 248, 255, 0.471); */
   padding: 50px;
   line-height: 35px;
}
form input:not(input[type='radio'],input[type='submit']){
    border: none;
    outline: none;
    padding: 8px 5px;
    width: 300px;
    border-radius: 4px;
    background-color:#f5f7fa;
}
.sub_btn{
    border: none;
    outline: none;
    color: #fff;
    padding: 8px 5px;
    width: 300px;
    border-radius: 4px;
    background-color: #00ADB5;
}
.alert{
    border:1px solid rgba(255, 0, 0, 0.841);
    background-color: #dd4a4a41;
    color: #ff0000cd;
    border-radius: 4px;
    padding: 0px 4px;
}